html{font-size: 100%;
line-height: 1.5rem;    
box-sizing: border-box;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p
{color: 
    rgb(62, 41, 29);
}
body{
   margin: auto;
   padding: 0%;
   min-height: 100%;
   max-width: 100%;
}
img, video 
{ 
width: auto;    
height: auto;
display: block;
}
ul{color: rgb(219, 178, 41);}
